html {
    overflow-x: hidden;
}

/* div.adviewDFPBanner.activeBan, */
div.onnetworkplayercontainer,
#gazeta_article_body .imageUOM {
    background-color: silver !important;
}

.related_image_wrap,
div.onnetworkplayercontainer,
#gazeta_article_body .imageUOM {
/* div#adUnit-101-TOPBOARD-MOBI,
div#adUnit-104-RECTANGLE-MOBI.activeBan,
div#banC1.activeBan { */
    --aspect-ratio: 3/2; /* ads have multiple different aspects :( */
    /* position: relative !important; */
    height: 0 !important;
    padding-bottom: calc(100%/(var(--aspect-ratio))) !important;
}

#gazeta_article_body div.art_embed iframe {
    /* --aspect-ratio: 100% / attr(height); */
    padding-bottom: calc(100%/(var(--aspect-ratio))) !important;
}

img.related_article_photo,
img.newsBox__recomendationItemImage {
    --aspect-ratio: 3/2;
}

/* .related_images img,
#gazeta_article_body p img,
iframe.onnetworkframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
} */

/* div#adUnit-101-TOPBOARD-MOBI iframe,
div#adUnit-104-RECTANGLE-MOBI.activeBan iframe,
div#banC1.activeBan iframe {
    --aspect-ratio: 100% / attr(height);
    /* position: absolute !important;
    top: 40px !important; */
    /* left: 0 !important; */
    /* width: 100% !important; */
    /* height: 100% !important; */
    /* object-fit: cover; */
} */